* {
    text-decoration: none;
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.title {
    font-size: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
}

select {
    border: solid 2px black;
}

/*#region Navigationbar */

nav h1 a {
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(168, 196, 252);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-style: solid;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav li a {
    padding: 5px;
    display: inline-block;
    color: rgb(28, 112, 157);
    text-decoration: underline;
}

/*#endregion*/

/*#region footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(168, 196, 252);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-style: solid;
    border-color: black;
    margin-top: 2%;
}

i {
    align-self: center;
}

/*#endregion*/

/*#region index*/

img.sign {

    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 900px) {
    img.sign {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    img.sign {
        width: 400px;
    }
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
}

.pictures img {
    width: 300px;
}

.container {
    text-align: center;
    position: relative;
}

.container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 30px;
    width: 100%;
}

/*#endregion*/

/*#region pizzatag*/

div.inline {
    display: flex;
    padding-top: 10px;
}

.inline img:last-child {
    padding-left: 20px;
}

.inline h2:first-child {
    margin-right: auto;
}


.inline h2 {
    font-size: 15px;
}

/*#endregion*/

/*#region saladtag and softdrinkstag*/

.pricetag {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
}

h2.caption {
    font-size: 15px;
    padding-top: 10px;
}

/*#endregion*/

/*#region menu*/

.menu img {
    width: 300px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img.cart {
    width: 25px;
    padding-left: 1%;
    vertical-align: baseline;
}

.item {
    padding-bottom: 1%;
    padding-left: 10px;
    padding-right: 10px;
}

.ingredients {
    font-size: 11px;
    padding-top: 1%;
    padding-bottom: 2%;
}

/*#endregion menu*/

/*#region feedback*/

.form {
    border-radius: 5px;
    padding: 20px;
    margin-left: 15%;
    margin-right: 26%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 3%;
}

.front {
    float: left;
    width: 45%;
    margin-top: 6px;
}

.back {
    float: left;
    width: 55%;
    margin-top: 6px;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

input[type="radio"] {
    accent-color: black;
}

.button {
    display: flex;
    justify-content: flex-end;
}

textarea {
    height: 150px;
    border: 2px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 12px;
    border-style: solid;
    border-color: black;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

input[type="submit"] {
    border: 2px solid black;
    background-color: white;
    padding: 7px 15px;
     box-shadow: 3px 3px #000;
  }

.front p{
    text-align: end;
    padding-right: 25px;
}


@media (max-width: 1000px) {
    .form {
        margin-left: 10%;
        margin-right: 10%;
    }

    .front p {
        text-align: start;
        padding-right: 0px;
    }

    .front,
    .back {
        float: none;
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }
}

/*#endregion*/

/*#region Counter*/

.shoppingcart {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    padding-right: 4%;
}

/*#endregion*/